/* https://www.w3schools.com/css/ para estilisar */
* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Libre Baskerville, sans-serif;
  background-color: rgb(244 243 238);
}

.selected {
  background-color: rgb(128 128 128);
}

body {
  display: flex;
  flex-direction: column;
}
#header {
  display: flex;
}
h1 {
  color: white;
  background-color: #46b1c9;
  padding: 40px;
  font-size: 3em;
  width: 100%;
}

.completed {
  text-decoration: line-through;
}

button {
  box-shadow: 3px 3px 6px 0 rgba(0 , 0 , 0 , 0.2);
}

ol {
  border-radius: 5px;
  list-style-position: inside;
  padding: 20px;
  min-width: 30%;
  min-height: 300px;
  width: 100%;
  border: solid #46b1c9 10px;
}

li {
  text-align: left;
  padding: 4px;
}

#addTask {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

#texto-tarefa {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #46b1c9; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: white;
  padding: 14px 30px;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 5px;
}

#funcionamento {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#conteudo {
  display: flex;
  margin-left: 20px;
  align-items: stretch;
  justify-content: center;
}

#button {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: flex-end;
}

.list {
  text-align: center;
}

#list {
  width: 50%;
}

#mid {
  display: flex;
  align-items: stretch;
} 